{% extends 'base.html'%}
{% block body %}
<!-- pagenator로 자른 덩어리 속 객체를 보여줌. -->
            {% for blog in posts %}
            <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{blog.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
                            <p class="card-text">{{blog.summary}}</p>

                            <a href="{% url 'detail' blog.id %}" class="card-link">...more</a>
                            <a href="{% url 'edit' blog.id %}" class="card-link">수정하기</a>
                            <a href="{% url 'delete' blog.id %}" class="card-link">삭제</a>
                        </div>
                        </div><br>
            </div>
            {%endfor%}

            <div class="container">
                {%if posts.has_previous%}
                    <a href="?page=1">First</a>
                    <a href="?page={{posts.previous_page_number}}">Previous</a>
                {%endif%}
<!--  -->
                <span>{{posts.number}}</span>
                <span>of</span>
                <span>{{posts.paginator.num_pages}}</span>
<!-- 현재 page 번호, 몇 개 게시글로 되었는지 알려줌 e.g.2 of 5 -->
                {%if posts.has_next%}
                    <a href="?page={{posts.next_page_number}}">Next</a>
                    <a href="?page={{posts.paginator.num_pages}}">Last</a>
                {%endif%}
                <!-- 다음page번호가 있으면 현재에서 다음 page로 갈 수 있게, 마지막이면 전체 pagenator로  -->
            </div>
</body>
{%endblock%}